{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<body class="myform">

    <h1>myLego</h1>

        <p>Welcome to <em>myLego</em>, where new Lego sets can be added to the database.</p>
        <p>All parts in the set will be added to the Lego parts list.</p>
        <p>You can optionally add all parts in the set to "My Parts".</p>
        <br>

        <div id="container">
            <form action="{% url 'addset' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <td id="entry">{{ form.set_code.label_tag }}</td>
                    <td id="entry">{{ form.set_code }}</td>
                </div>
                <div class="form-row">
                    <td id="entry">{{ form.my_set.label_tag }}</td>
                    <td id="entry">{{ form.my_set }}</td>
                </div>

                <div class="submit-row">
                    <input id="submitbtn" type="submit" value="Search" />
                </div>
            </form>
        </div>

</body>

{% endblock %}
