<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>myLego</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    <div id="header">
        <div id="branding">
            <h1><a href="/myLego/">myLego</a></h1>
        </div>

        <div id="user-tools">
            {% if user.is_authenticated %}
                Welcome <strong>{{ user.get_username }}</strong>
            {% else %}
                <a href="{% url 'login'%}?next={{request.path}}">Login</a>
            {% endif %}
        </div>
    </div>

    <div class="page-wrap">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-2">
                    {% block sidebar %}
                        <ul class="sidebar-nav">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <br>
                            <li><a href="{% url 'colours' %}">All colours</a></li>
                            <li><a href="{% url 'parts' %}">All parts</a></li>
                            <li><a href="{% url 'myparts' %}">All my parts</a></li>
                            <li><a href="{% url 'sets' %}">All sets</a></li>
                            <br>
                            <li><a href="/admin/myLego/">Admin Site</a></li>
                        </ul>
                    {% endblock %}
                </div>
                <div class="col-sm-10 ">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>