{% extends "base_generic.html" %}

{% block content %}

<h1>myLego</h1>

    <p>Welcome to <em>myLego</em>, a Django website to manage my Lego.</p>

<h2>myLego Library</h2>

    <p>The myLego library has the following record counts:</p>
    <ul>
        <li><strong>Colours:</strong> {{ num_colours }}</li>
        <li><strong>Parts:</strong> {{ num_parts }}</li>
        <li><strong>My Parts:</strong> {{ num_myparts }}</li>
        <li><strong>Sets:</strong> {{ num_sets }}</li>
    </ul>

    <p>You have visited {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

{% endblock %}