{% extends "base_generic.html" %}

{% block content %}

<h1>myLego</h1>

    <p>Welcome to <em>myLego</em>, where details for parts in the database can be displayed.</p>

<h2>Part Details</h2><br>

    <p><strong>Code:&nbsp</strong> {{ part.code }}</p>
    <p><strong>Description:&nbsp</strong> {{ part.description }}</p>
    <p><strong>Image Reference:&nbsp</strong> {{ part.picture }}</p><br>

    <img src="{{MEDIA_URL}}{{ part.picture.url }}" alt="{{MEDIA_URL}}{{ part.picture.url }}">

<h2>Part Details Functions</h2>

    <p><a href="{% url 'partedit' code=part.code %}">Edit</a></p><br>

{% endblock %}
